{:kotoba.app/id "cloud.itonami.isic-0210", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreic6hi2afh4kczq6zrs564mxgdwl2jmm6yocqqvblwov5iqwefufjq", :kotoba.app/embed-url "ipfs://bafkreic6hi2afh4kczq6zrs564mxgdwl2jmm6yocqqvblwov5iqwefufjq", :published {:archive "https://kotobase.net/ipfs/bafkreic6hi2afh4kczq6zrs564mxgdwl2jmm6yocqqvblwov5iqwefufjq", :size 72422, :put-status 201, :get-status 200, :at "2026-08-15T13:44:16.671Z"}}
